body
{
    font-family: verdana;
    width: 1080px;
    background-color: #faebd7;
    display: block;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}
Nav
{ background-color: black;
    padding: 5px;
}

nav ul
{text-align: center;
    font-size: 1.2em;
}

Nav ul li
{ list-style-type: none;
    background-color: #b2b2b2;
    display: inline;
    padding: 15px;
}
header
{
    background-image:url("./Image/backG.jpg");
    height: 200px;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #B2B2B2;
    padding: 1px;
}





